.container{
    border: 2px solid white;
    padding-left: 100px;
    padding-right: 100px;
    background-image:url(bg.jpg);
}
img{
    padding-bottom: 10px;
}
#navbar{
    background-color: grey;
    padding: 30px;
    font-size: x-large;
}
.nav1{
    padding: 30px;
}
.nav1:hover{
    color: white;
    background-color: orange;
    
}
.info{
    background-color: white;
    padding: 50px;
    width: 1200px;
}
h1{
    color:brown;
}
#copyrights{
    background-color: grey;
    padding: 20px;
    font-size: large;
    color: white;
}
.box1{
    background-color: white;
    width: 400px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

